@import url('https://fonts.googleapis.com/css2?family=Julee&family=Labrada:ital,wght@0,300;1,300&family=Lobster&family=Pacifico&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Shantell+Sans:ital,wght@0,300;1,300&family=Tilt+Prism&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --theme-color: rgb(80, 116, 243);
}

body{
    background: var(--theme-color);
}

.container{
    width: 90%;
    max-width: 25em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: center;
}

.card{
    width: 100%;
    padding: 4em 0;
    background-color: #fff;
    border-radius: .5em;
}

.card .img-container{
    height: 11.25em;
    width: 11.25em;
    display: block;
    margin: -8.75em auto 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 0 .3em #ffffff, 0 0 0 .9em var(--theme-color);
    border-radius: 50%;
}

.img-container img{
    width: 100%;
    border-radius: 50%;
}

.container button{
    display: block;
    font-size: 1.2em;
    width: 90%;
    margin: 2em auto 0 auto;
    padding: 1.1em 0;
    border-radius: .3em;
    border: none;
    outline: none;
    font-weight: 600;
    cursor: pointer;
    color: #000341;
}

.ceator{
    color: #fff;
    text-transform: capitalize;font-family: 'Lobster', cursive;
    font-size: 23px;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.ceator a{
    color: #fff;
    font-family: 'Lobster', cursive;
    margin-left: 0.5rem;
}

.card h2{
    margin-top: 1.8em;
    font-weight: 600;
    color: #000341;
}

.card h3, .card h4{
    font-size: 1em;
    letter-spacing: .02em;
    margin-top: 0.5em;
    font-weight: 300;
    color: #90919e;
}

.card i{
    color: var(--theme-color);
    margin-right: .3em;
}

.card h4{
    margin-top: 0.4em;
}










